app/xsd/v2/ie704uk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--=========================================-->
<!--==||== Modified IE704:N_REJ_DAT -->
<!--===== GENERIC REFUSAL MESSAGE -->
<!--==||== This xsd is modified so that it now takes  -->
<!--==||== HMRC's specific error codes -->
<!--==||== Version: 3.2 -->
<!--==||== Status: Issued -->
<!--==||== Date: 02 Sep 2011 -->
<!--==||== Author modifications on IE704 EU version: EMCS Core -->
<!--=========================================-->
<xs:schema xmlns:ie="http://www.govtalk.gov.uk/taxation/InternationalTrade/Excise/ie704uk/3" 
           targetNamespace="http://www.govtalk.gov.uk/taxation/InternationalTrade/Excise/ie704uk/3" 
           xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.23" 
           xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.23" 
           xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.23" 
           xmlns:euc="http://www.govtalk.gov.uk/taxation/InternationalTrade/Excise/EmcsUkCodes/3" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" 
           version="1.00">
    <!--===== Imports =====-->
    <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.23" schemaLocation="types.xsd" />
    <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.23" schemaLocation="tms.xsd" />
    <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.23" schemaLocation="doc.xsd" />
    <xs:import namespace="http://www.govtalk.gov.uk/taxation/InternationalTrade/Excise/EmcsUkCodes/3" schemaLocation="emcsukcodes.xsd"/>
    <!--===== Root Element =====-->
    <xs:element name="IE704" type="ie:IE704Type"/>
    <!--===== EMCS Data Groups Declarations =====-->
    <xs:complexType name="IE704Type">
        <xs:sequence>
            <xs:element name="Header" type="tms:HeaderType"/>
            <xs:element name="Body" type="ie:BodyType"/>
        </xs:sequence>
    </xs:complexType>
    <!--===== IE Specific Data Groups Declarations =====-->
    <xs:complexType name="BodyType">
        <xs:sequence>
            <xs:element name="GenericRefusalMessage" type="ie:GenericRefusalMessageType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericRefusalMessageType">
        <xs:sequence>
            <xs:element name="Attributes" type="ie:AttributesType" minOccurs="0" />
            <xs:element name="FunctionalError" type="ie:FunctionalErrorType" maxOccurs="999" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttributesType">
        <xs:sequence>
            <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType" minOccurs="0" />
            <xs:element name="SequenceNumber" type="emcs:SequenceNumberType" minOccurs="0" />
            <xs:element name="LocalReferenceNumber" type="emcs:LocalReferenceNumberType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FunctionalErrorType">
    <xs:annotation>
        <xs:documentation>
            <doc:description value="FUNCTIONAL ERROR" />
        </xs:documentation>
    </xs:annotation>
        <xs:sequence>
            <!--==||== Modified for UK: refer to HMRC functional error codes =====-->
            <xs:element name="ErrorType" type="euc:FunctionalErrorCodes"/>
            <!--==================================================================-->
            <xs:element name="ErrorReason" type="emcs:ErrorReasonType" />
            <xs:element name="ErrorLocation" type="emcs:ErrorLocationType" minOccurs="0" />
            <xs:element name="OriginalAttributeValue" type="emcs:OriginalAttributeValueType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
