app/xsd/ie810-v16-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 586746
Wed Oct 26 10:48:01 BST 2022

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE810:V3.01" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE810:V3.01" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" version="16.0" id="ie810" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" schemaLocation="tms-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" schemaLocation="types-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" schemaLocation="doc-v16-0.xsd"/>
  <xs:element name="IE810" type="ie:IE810Type"/>
  <xs:complexType name="IE810Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType"/>
      <xs:element name="Body" type="ie:BodyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="CancellationOfEAD" type="ie:CancellationOfEADType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancellationOfEADType">
    <xs:sequence>
      <xs:element name="Attributes" type="ie:AttributesType"/>
      <xs:element name="ExciseMovementEad" type="ie:ExciseMovementEadType"/>
      <xs:element name="Cancellation" type="ie:CancellationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributesType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTimeOfValidationOfCancellation" type="emcs:DateTimeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExciseMovementEadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="EXCISE MOVEMENT E-AD"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancellationType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CANCELLATION"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CancellationReasonCode" type="emcs:CancellationReasonCodeType"/>
      <xs:element minOccurs="0" name="ComplementaryInformation" type="ie:LSDComplementaryInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryInformationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
