app/xsd/ie825-v16-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 586746
Wed Oct 26 10:48:01 BST 2022

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE825:V3.01" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE825:V3.01" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" xmlns:tcl="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" version="16.0" id="ie825" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" schemaLocation="tms-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" schemaLocation="doc-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" schemaLocation="types-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" schemaLocation="tcl-v16-0.xsd"/>
  <xs:element name="IE825" type="ie:IE825Type"/>
  <xs:complexType name="IE825Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType"/>
      <xs:element name="Body" type="ie:BodyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="SubmittedDraftOfSplittingOperation" type="ie:SubmittedDraftOfSplittingOperationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubmittedDraftOfSplittingOperationType">
    <xs:sequence>
      <xs:element name="SplittingEad" type="ie:SplittingEadType"/>
      <xs:element maxOccurs="9" name="SplitDetailsEad" type="ie:SplitDetailsEadType"/>
      <xs:element name="MsaOfSplitting" type="ie:MsaOfSplittingType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SplittingEadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(SPLITTING) E-AD"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="UpstreamArc" type="emcs:UpstreamArcType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SplitDetailsEadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(SPLIT DETAILS) E-AD"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LocalReferenceNumber" type="emcs:LocalReferenceNumberType"/>
      <xs:element minOccurs="0" name="JourneyTime" type="emcs:JourneyTimeType"/>
      <xs:element minOccurs="0" name="ChangedTransportArrangement" type="tcl:TransportArrangement"/>
      <xs:element name="DestinationChanged" type="ie:DestinationChangedType"/>
      <xs:element minOccurs="0" name="NewConsigneeTrader" type="ie:NewConsigneeTraderType"/>
      <xs:element minOccurs="0" name="DeliveryPlaceTrader" type="ie:DeliveryPlaceTraderType"/>
      <xs:element minOccurs="0" name="DeliveryPlaceCustomsOffice" type="ie:DeliveryPlaceCustomsOfficeType"/>
      <xs:element minOccurs="0" name="NewTransportArrangerTrader" type="ie:NewTransportArrangerTraderType"/>
      <xs:element minOccurs="0" name="NewTransporterTrader" type="ie:NewTransporterTraderType"/>
      <xs:element minOccurs="0" maxOccurs="99" name="TransportDetails" type="ie:TransportDetailsType"/>
      <xs:element maxOccurs="unbounded" name="BodyEad" type="ie:BodyEadType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinationChangedType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DESTINATION) CHANGED"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DestinationTypeCode" type="tcl:SplittingDestinationTypeCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewConsigneeTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW CONSIGNEE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Traderid" type="emcs:TraderidType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
      <xs:element minOccurs="0" name="EoriNumber" type="emcs:EoriNumberType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="DeliveryPlaceTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DELIVERY PLACE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Traderid" type="emcs:TraderidType"/>
      <xs:element minOccurs="0" name="TraderName" type="emcs:TraderNameType"/>
      <xs:element minOccurs="0" name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element minOccurs="0" name="Postcode" type="emcs:PostcodeType"/>
      <xs:element minOccurs="0" name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="optional" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="DeliveryPlaceCustomsOfficeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DELIVERY PLACE) CUSTOMS OFFICE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNumber" type="emcs:ExciseOfficeCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewTransportArrangerTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW TRANSPORT ARRANGER) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="VatNumber" type="emcs:VatNumberType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="NewTransporterTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW TRANSPORTER) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="VatNumber" type="emcs:VatNumberType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="TransportDetailsType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="TRANSPORT DETAILS"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportUnitCode" type="emcs:TransportUnitCodeType"/>
      <xs:element minOccurs="0" name="IdentityOfTransportUnits" type="emcs:IdentityOfTransportUnitsType"/>
      <xs:element minOccurs="0" name="CommercialSealIdentification" type="emcs:CommercialSealIdentificationType"/>
      <xs:element minOccurs="0" name="SealInformation" type="ie:LSDSealInformationType"/>
      <xs:element minOccurs="0" name="ComplementaryInformation" type="ie:LSDComplementaryInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyEadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(BODY) E-AD"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BodyRecordUniqueReference" type="emcs:BodyRecordUniqueReferenceType"/>
      <xs:element name="ExciseProductCode" type="emcs:ExciseProductCodeType"/>
      <xs:element name="CnCode" type="emcs:CnCodeType"/>
      <xs:element name="Quantity" type="emcs:QuantityType"/>
      <xs:element name="GrossMass" type="emcs:GrossMassType"/>
      <xs:element name="NetMass" type="emcs:NetMassType"/>
      <xs:element minOccurs="0" name="FiscalMark" type="ie:LSDFiscalMarkType"/>
      <xs:element minOccurs="0" name="FiscalMarkUsedFlag" type="tcl:Flag"/>
      <xs:element minOccurs="0" name="Density" type="emcs:DensityType"/>
      <xs:element minOccurs="0" name="CommercialDescription" type="ie:LSDCommercialDescriptionType"/>
      <xs:element minOccurs="0" name="BrandNameOfProducts" type="ie:LSDBrandNameOfProductsType"/>
      <xs:element maxOccurs="99" name="Package" type="ie:PackageType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackageType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PACKAGE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KindOfPackages" type="emcs:KindOfPackagesType"/>
      <xs:element minOccurs="0" name="NumberOfPackages" type="emcs:NumberOfPackagesType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ShippingMarks" type="emcs:ShippingMarksType"/>
      <xs:element minOccurs="0" name="CommercialSealIdentification" type="emcs:CommercialSealIdentificationType"/>
      <xs:element minOccurs="0" name="SealInformation" type="ie:LSDSealInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MsaOfSplittingType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="MSA OF SPLITTING"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MemberStateCode" type="emcs:MemberStateCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDBrandNameOfProductsType">
    <xs:simpleContent>
      <xs:extension base="emcs:BrandNameOfProductsType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDCommercialDescriptionType">
    <xs:simpleContent>
      <xs:extension base="emcs:CommercialDescriptionType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryInformationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDFiscalMarkType">
    <xs:simpleContent>
      <xs:extension base="emcs:FiscalMarkType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDSealInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:SealInformationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
