resources/emcsCoreXmlSchemas/acknowledgeMessagesReceipt-v16-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 586746
Wed Oct 26 10:48:01 BST 2022

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:amr="http://www.govtalk.gov.uk/taxation/acknowledgeMessagesReceipt/1" targetNamespace="http://www.govtalk.gov.uk/taxation/acknowledgeMessagesReceipt/1" version="16.0" id="acknowledgeMessagesReceipt" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:element name="acknowledgeMessagesReceipt">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="ExciseRegistrationNumber">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:length value="13"/>
              <xsd:pattern value="[A-Z]{2}[a-zA-Z0-9]{11}"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="MessageBatchId" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
