resources/emcsCoreXmlSchemas/HMRC-wsHeader-v1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 586746
Wed Oct 26 10:48:01 BST 2022

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hmrc="http://www.hmrc.gov.uk/ws/info-header/1" targetNamespace="http://www.hmrc.gov.uk/ws/info-header/1" version="1.1" id="HMRC-wsHeader" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>An HMRC-specific header block for use with SOAP messages destined for HMRC web services that is compatible with the general Web Services 'composable architecture' of WS-* standards.</xsd:documentation>
  </xsd:annotation>
  <xsd:element name="Info">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="VendorName">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="URI" type="xsd:anyURI"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="VendorID" type="xsd:string"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="VendorProduct">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="Version" type="xsd:string"/>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="ServiceID" type="xsd:string"/>
        <xsd:element minOccurs="1" maxOccurs="1" name="ServiceMessageType">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="4"/>
              <xsd:maxLength value="32"/>
              <xsd:pattern value="(IR-|HMRC-|HMCE-).*"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="ServiceReference" type="xsd:string"/>
        <xsd:element minOccurs="0" name="SubmissionTimestamp" type="xsd:dateTime"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
