resources/emcsCoreXmlSchemas/ie813-v16-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 586746
Wed Oct 26 10:48:01 BST 2022

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE813:V3.01" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE813:V3.01" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" xmlns:tcl="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" version="16.0" id="ie813" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" schemaLocation="GetNewMessages/tms-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" schemaLocation="GetNewMessages/types-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" schemaLocation="GetNewMessages/doc-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" schemaLocation="GetNewMessages/tcl-v16-0.xsd"/>
  <xs:element name="IE813" type="ie:IE813Type"/>
  <xs:complexType name="IE813Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType"/>
      <xs:element name="Body" type="ie:BodyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="ChangeOfDestination" type="ie:ChangeOfDestinationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChangeOfDestinationType">
    <xs:sequence>
      <xs:element name="Attributes" type="ie:AttributesType"/>
      <xs:element minOccurs="0" name="NewTransportArrangerTrader" type="ie:NewTransportArrangerTraderType"/>
      <xs:element name="UpdateEadEsad" type="ie:UpdateEadEsadType"/>
      <xs:element name="DestinationChanged" type="ie:DestinationChangedType"/>
      <xs:element minOccurs="0" name="NewTransporterTrader" type="ie:NewTransporterTraderType"/>
      <xs:element minOccurs="0" maxOccurs="99" name="TransportDetails" type="ie:TransportDetailsType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributesType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTimeOfValidationOfChangeOfDestination" type="emcs:DateTimeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewTransportArrangerTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW TRANSPORT ARRANGER) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="VatNumber" type="emcs:VatNumberType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="UpdateEadEsadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(UPDATE) E-AD/E-SAD"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType"/>
      <xs:element minOccurs="0" name="JourneyTime" type="emcs:JourneyTimeType"/>
      <xs:element minOccurs="0" name="ChangedTransportArrangement" type="tcl:TransportArrangement"/>
      <xs:element minOccurs="0" name="SequenceNumber" type="emcs:SequenceNumberType"/>
      <xs:element minOccurs="0" name="InvoiceDate" type="emcs:DateType"/>
      <xs:element minOccurs="0" name="InvoiceNumber" type="emcs:InvoiceNumberType"/>
      <xs:element minOccurs="0" name="TransportModeCode" type="emcs:TransportModeCodeType"/>
      <xs:element minOccurs="0" name="ComplementaryInformation" type="ie:LSDComplementaryInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinationChangedType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DESTINATION) CHANGED"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DestinationTypeCode" type="tcl:ChangedDestinationTypeCode"/>
      <xs:element minOccurs="0" name="NewConsigneeTrader" type="ie:NewConsigneeTraderType"/>
      <xs:element minOccurs="0" name="DeliveryPlaceTrader" type="ie:DeliveryPlaceTraderType"/>
      <xs:element minOccurs="0" name="DeliveryPlaceCustomsOffice" type="ie:DeliveryPlaceCustomsOfficeType"/>
      <xs:element minOccurs="0" name="MovementGuarantee" type="ie:MovementGuaranteeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NewConsigneeTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW CONSIGNEE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Traderid" type="emcs:TraderidType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
      <xs:element minOccurs="0" name="EoriNumber" type="emcs:EoriNumberType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="DeliveryPlaceTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DELIVERY PLACE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Traderid" type="emcs:TraderidType"/>
      <xs:element minOccurs="0" name="TraderName" type="emcs:TraderNameType"/>
      <xs:element minOccurs="0" name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element minOccurs="0" name="Postcode" type="emcs:PostcodeType"/>
      <xs:element minOccurs="0" name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="optional" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="DeliveryPlaceCustomsOfficeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DELIVERY PLACE) CUSTOMS OFFICE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNumber" type="emcs:ExciseOfficeCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MovementGuaranteeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="MOVEMENT GUARANTEE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuarantorTypeCode" type="tcl:GuarantorTypeCode"/>
      <xs:element minOccurs="0" maxOccurs="2" name="GuarantorTrader" type="ie:GuarantorTraderType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuarantorTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(GUARANTOR) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="TraderExciseNumber" type="emcs:ExciseNumberType"/>
      <xs:element minOccurs="0" name="TraderName" type="emcs:TraderNameType"/>
      <xs:element minOccurs="0" name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element minOccurs="0" name="City" type="emcs:CityType"/>
      <xs:element minOccurs="0" name="Postcode" type="emcs:PostcodeType"/>
      <xs:element minOccurs="0" name="VatNumber" type="emcs:VatNumberType"/>
    </xs:sequence>
    <xs:attribute use="optional" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="NewTransporterTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(NEW TRANSPORTER) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="VatNumber" type="emcs:VatNumberType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="TransportDetailsType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="TRANSPORT DETAILS"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportUnitCode" type="emcs:TransportUnitCodeType"/>
      <xs:element minOccurs="0" name="IdentityOfTransportUnits" type="emcs:IdentityOfTransportUnitsType"/>
      <xs:element minOccurs="0" name="CommercialSealIdentification" type="emcs:CommercialSealIdentificationType"/>
      <xs:element minOccurs="0" name="ComplementaryInformation" type="ie:LSDComplementaryInformationType"/>
      <xs:element minOccurs="0" name="SealInformation" type="ie:LSDSealInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryInformationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDSealInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:SealInformationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
