resources/emcsCoreXmlSchemas/ie819-v16-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 586746
Wed Oct 26 10:48:01 BST 2022

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE819:V3.01" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE819:V3.01" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" xmlns:tcl="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" version="16.0" id="ie819" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" schemaLocation="tms-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" schemaLocation="types-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" schemaLocation="doc-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" schemaLocation="tcl-v16-0.xsd"/>
  <xs:element name="IE819" type="ie:IE819Type"/>
  <xs:complexType name="IE819Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType"/>
      <xs:element name="Body" type="ie:BodyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="AlertOrRejectionOfEADESAD" type="ie:AlertOrRejectionOfEADESADType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlertOrRejectionOfEADESADType">
    <xs:sequence>
      <xs:element name="Attributes" type="ie:AttributesType"/>
      <xs:element minOccurs="0" name="ConsigneeTrader" type="ie:ConsigneeTraderType"/>
      <xs:element name="ExciseMovement" type="ie:ExciseMovementType"/>
      <xs:element name="DestinationOffice" type="ie:DestinationOfficeType"/>
      <xs:element name="AlertOrRejection" type="ie:AlertOrRejectionType"/>
      <xs:element minOccurs="0" maxOccurs="9" name="AlertOrRejectionOfEadEsadReason" type="ie:AlertOrRejectionOfEadEsadReasonType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributesType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateAndTimeOfValidationOfAlertRejection" type="emcs:DateTimeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsigneeTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Traderid" type="emcs:TraderidType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
      <xs:element minOccurs="0" name="EoriNumber" type="emcs:EoriNumberType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="ExciseMovementType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="EXCISE MOVEMENT"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType"/>
      <xs:element name="SequenceNumber" type="emcs:SequenceNumberType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinationOfficeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DESTINATION) OFFICE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNumber" type="emcs:ExciseOfficeCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlertOrRejectionType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="ALERT OR REJECTION"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateOfAlertOrRejection" type="emcs:DateType"/>
      <xs:element name="EadEsadRejectedFlag" type="tcl:Flag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlertOrRejectionOfEadEsadReasonType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="ALERT OR REJECTION OF E-AD/E-SAD REASON"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AlertOrRejectionOfMovementReasonCode" type="emcs:AlertOrRejectionOfMovementReasonCodeType"/>
      <xs:element minOccurs="0" name="ComplementaryInformation" type="ie:LSDComplementaryInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryInformationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
