resources/emcsCoreXmlSchemas/ie815-v16-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 586746
Wed Oct 26 10:48:01 BST 2022

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE815:V3.01" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE815:V3.01" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" xmlns:tcl="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" version="16.0" id="ie815" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" schemaLocation="tms-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" schemaLocation="tcl-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" schemaLocation="doc-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" schemaLocation="types-v16-0.xsd"/>
  <xs:element name="IE815" type="ie:IE815Type"/>
  <xs:complexType name="IE815Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType"/>
      <xs:element name="Body" type="ie:BodyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="SubmittedDraftOfEADESAD" type="ie:SubmittedDraftOfEADESADType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubmittedDraftOfEADESADType">
    <xs:sequence>
      <xs:element name="Attributes" type="ie:AttributesType"/>
      <xs:element minOccurs="0" name="ConsigneeTrader" type="ie:ConsigneeTraderType"/>
      <xs:element name="ConsignorTrader" type="ie:ConsignorTraderType"/>
      <xs:element minOccurs="0" name="PlaceOfDispatchTrader" type="ie:PlaceOfDispatchTraderType"/>
      <xs:element minOccurs="0" name="DispatchImportOffice" type="ie:DispatchImportOfficeType"/>
      <xs:element minOccurs="0" name="ComplementConsigneeTrader" type="ie:ComplementConsigneeTraderType"/>
      <xs:element minOccurs="0" name="DeliveryPlaceTrader" type="ie:DeliveryPlaceTraderType"/>
      <xs:element minOccurs="0" name="DeliveryPlaceCustomsOffice" type="ie:DeliveryPlaceCustomsOfficeType"/>
      <xs:element name="CompetentAuthorityDispatchOffice" type="ie:CompetentAuthorityDispatchOfficeType"/>
      <xs:element minOccurs="0" name="TransportArrangerTrader" type="ie:TransportArrangerTraderType"/>
      <xs:element minOccurs="0" name="FirstTransporterTrader" type="ie:FirstTransporterTraderType"/>
      <xs:element minOccurs="0" maxOccurs="9" name="DocumentCertificate" type="ie:DocumentCertificateType"/>
      <xs:element name="HeaderEadEsad" type="ie:HeaderEadEsadType"/>
      <xs:element name="TransportMode" type="ie:TransportModeType"/>
      <xs:element name="MovementGuarantee" type="ie:MovementGuaranteeType"/>
      <xs:element maxOccurs="unbounded" name="BodyEadEsad" type="ie:BodyEadEsadType"/>
      <xs:element name="EadEsadDraft" type="ie:EadEsadDraftType"/>
      <xs:element maxOccurs="99" name="TransportDetails" type="ie:TransportDetailsType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributesType">
    <xs:sequence>
      <xs:element name="SubmissionMessageType" type="tcl:SubmissionType"/>
      <xs:element minOccurs="0" name="DeferredSubmissionFlag" type="tcl:Flag"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsigneeTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Traderid" type="emcs:TraderidType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
      <xs:element minOccurs="0" name="EoriNumber" type="emcs:EoriNumberType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="ConsignorTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNOR) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TraderExciseNumber" type="emcs:ExciseNumberType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="PlaceOfDispatchTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(PLACE OF DISPATCH) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ReferenceOfTaxWarehouse" type="emcs:ExciseNumberType"/>
      <xs:element minOccurs="0" name="TraderName" type="emcs:TraderNameType"/>
      <xs:element minOccurs="0" name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element minOccurs="0" name="Postcode" type="emcs:PostcodeType"/>
      <xs:element minOccurs="0" name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="optional" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="DispatchImportOfficeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DISPATCH) IMPORT OFFICE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNumber" type="emcs:ExciseOfficeCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComplementConsigneeTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(COMPLEMENT CONSIGNEE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MemberStateCode" type="emcs:MemberStateCodeType"/>
      <xs:element minOccurs="0" name="SerialNumberOfCertificateOfExemption" type="emcs:SerialNumberOfCertificateOfExemptionType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeliveryPlaceTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DELIVERY PLACE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Traderid" type="emcs:TraderidType"/>
      <xs:element minOccurs="0" name="TraderName" type="emcs:TraderNameType"/>
      <xs:element minOccurs="0" name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element minOccurs="0" name="Postcode" type="emcs:PostcodeType"/>
      <xs:element minOccurs="0" name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="optional" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="DeliveryPlaceCustomsOfficeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(DELIVERY PLACE) CUSTOMS OFFICE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNumber" type="emcs:ExciseOfficeCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompetentAuthorityDispatchOfficeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(COMPETENT AUTHORITY) DISPATCH OFFICE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReferenceNumber" type="emcs:ExciseOfficeCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportArrangerTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(TRANSPORT ARRANGER) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="VatNumber" type="emcs:VatNumberType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="FirstTransporterTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(FIRST TRANSPORTER) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="VatNumber" type="emcs:VatNumberType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="DocumentCertificateType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="DOCUMENT CERTIFICATE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentType" type="emcs:DocumentTypeType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentReference" type="emcs:DocumentReferenceType"/>
      <xs:element minOccurs="0" name="DocumentDescription" type="ie:LSDDocumentDescriptionType"/>
      <xs:element minOccurs="0" name="ReferenceOfDocument" type="ie:LSDReferenceOfDocumentType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderEadEsadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(HEADER) E-AD/E-SAD"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DestinationTypeCode" type="tcl:DestinationTypeCode"/>
      <xs:element name="JourneyTime" type="emcs:JourneyTimeType"/>
      <xs:element name="TransportArrangement" type="tcl:TransportArrangement"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportModeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="TRANSPORT MODE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportModeCode" type="emcs:TransportModeCodeType"/>
      <xs:element minOccurs="0" name="ComplementaryInformation" type="ie:LSDComplementaryInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MovementGuaranteeType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="MOVEMENT GUARANTEE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GuarantorTypeCode" type="tcl:GuarantorTypeCode"/>
      <xs:element minOccurs="0" maxOccurs="2" name="GuarantorTrader" type="ie:GuarantorTraderType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GuarantorTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(GUARANTOR) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="TraderExciseNumber" type="emcs:ExciseNumberType"/>
      <xs:element minOccurs="0" name="TraderName" type="emcs:TraderNameType"/>
      <xs:element minOccurs="0" name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element minOccurs="0" name="City" type="emcs:CityType"/>
      <xs:element minOccurs="0" name="Postcode" type="emcs:PostcodeType"/>
      <xs:element minOccurs="0" name="VatNumber" type="emcs:VatNumberType"/>
    </xs:sequence>
    <xs:attribute use="optional" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="BodyEadEsadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(BODY) E-AD/E-SAD"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BodyRecordUniqueReference" type="emcs:BodyRecordUniqueReferenceType"/>
      <xs:element name="ExciseProductCode" type="emcs:ExciseProductCodeType"/>
      <xs:element name="CnCode" type="emcs:CnCodeType"/>
      <xs:element name="Quantity" type="emcs:QuantityType"/>
      <xs:element name="GrossMass" type="emcs:GrossMassType"/>
      <xs:element name="NetMass" type="emcs:NetMassType"/>
      <xs:element minOccurs="0" name="AlcoholicStrengthByVolumeInPercentage" type="emcs:AlcoholicStrengthType"/>
      <xs:element minOccurs="0" name="DegreePlato" type="emcs:DegreePlatoType"/>
      <xs:element minOccurs="0" name="FiscalMark" type="ie:LSDFiscalMarkType"/>
      <xs:element minOccurs="0" name="FiscalMarkUsedFlag" type="tcl:Flag"/>
      <xs:element minOccurs="0" name="DesignationOfOrigin" type="ie:LSDDesignationOfOriginType"/>
      <xs:element minOccurs="0" name="SizeOfProducer" type="emcs:SizeOfProducerType"/>
      <xs:element minOccurs="0" name="Density" type="emcs:DensityType"/>
      <xs:element minOccurs="0" name="CommercialDescription" type="ie:LSDCommercialDescriptionType"/>
      <xs:element minOccurs="0" name="BrandNameOfProducts" type="ie:LSDBrandNameOfProductsType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="MaturationPeriodOrAgeOfProducts" type="ie:LSDMaturationPeriodOrAgeOfProductsType"/>
      <xs:element maxOccurs="99" name="Package" type="ie:PackageType"/>
      <xs:element minOccurs="0" name="WineProduct" type="ie:WineProductType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PackageType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PACKAGE"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="KindOfPackages" type="emcs:KindOfPackagesType"/>
      <xs:element minOccurs="0" name="NumberOfPackages" type="emcs:NumberOfPackagesType"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ShippingMarks" type="emcs:ShippingMarksType"/>
      <xs:element minOccurs="0" name="CommercialSealIdentification" type="emcs:CommercialSealIdentificationType"/>
      <xs:element minOccurs="0" name="SealInformation" type="ie:LSDSealInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WineProductType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="WINE PRODUCT"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WineProductCategory" type="tcl:CategoryOfWineProduct"/>
      <xs:element minOccurs="0" name="WineGrowingZoneCode" type="emcs:WineGrowingZoneCodeType"/>
      <xs:element minOccurs="0" name="ThirdCountryOfOrigin" type="emcs:ThirdCountryOfOriginType"/>
      <xs:element minOccurs="0" name="OtherInformation" type="ie:LSDOtherInformationType"/>
      <xs:element minOccurs="0" maxOccurs="99" name="WineOperation" type="ie:WineOperationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WineOperationType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="WINE OPERATION"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WineOperationCode" type="emcs:WineOperationCodeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EadEsadDraftType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="E-AD/E-SAD Draft"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LocalReferenceNumber" type="emcs:LocalReferenceNumberType"/>
      <xs:element name="InvoiceNumber" type="emcs:InvoiceNumberType"/>
      <xs:element minOccurs="0" name="InvoiceDate" type="emcs:DateType"/>
      <xs:element name="OriginTypeCode" type="tcl:OriginTypeCode"/>
      <xs:element name="DateOfDispatch" type="emcs:DateType"/>
      <xs:element minOccurs="0" name="TimeOfDispatch" type="emcs:TimeType"/>
      <xs:element minOccurs="0" maxOccurs="9" name="ImportSad" type="ie:ImportSadType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportSadType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="IMPORT SAD"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ImportSadNumber" type="emcs:ImportSadNumberType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportDetailsType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="TRANSPORT DETAILS"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TransportUnitCode" type="emcs:TransportUnitCodeType"/>
      <xs:element minOccurs="0" name="IdentityOfTransportUnits" type="emcs:IdentityOfTransportUnitsType"/>
      <xs:element minOccurs="0" name="CommercialSealIdentification" type="emcs:CommercialSealIdentificationType"/>
      <xs:element minOccurs="0" name="ComplementaryInformation" type="ie:LSDComplementaryInformationType"/>
      <xs:element minOccurs="0" name="SealInformation" type="ie:LSDSealInformationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDBrandNameOfProductsType">
    <xs:simpleContent>
      <xs:extension base="emcs:BrandNameOfProductsType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDCommercialDescriptionType">
    <xs:simpleContent>
      <xs:extension base="emcs:CommercialDescriptionType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDComplementaryInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:ComplementaryInformationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDDesignationOfOriginType">
    <xs:simpleContent>
      <xs:extension base="emcs:DesignationOfOriginType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDDocumentDescriptionType">
    <xs:simpleContent>
      <xs:extension base="emcs:DocumentDescriptionType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDFiscalMarkType">
    <xs:simpleContent>
      <xs:extension base="emcs:FiscalMarkType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDMaturationPeriodOrAgeOfProductsType">
    <xs:simpleContent>
      <xs:extension base="emcs:MaturationPeriodOrAgeOfProductsType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDOtherInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:OtherInformationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDReferenceOfDocumentType">
    <xs:simpleContent>
      <xs:extension base="emcs:ReferenceOfDocumentType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDSealInformationType">
    <xs:simpleContent>
      <xs:extension base="emcs:SealInformationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
