resources/emcsCoreXmlSchemas/ie871-v16-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 586746
Wed Oct 26 10:48:01 BST 2022

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE871:V3.01" targetNamespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:IE871:V3.01" xmlns:tms="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" xmlns:tcl="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" version="16.0" id="ie871" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TMS:V3.01" schemaLocation="GetNewMessages/tms-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:TCL:V3.01" schemaLocation="GetNewMessages/tcl-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" schemaLocation="GetNewMessages/types-v16-0.xsd"/>
  <xs:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" schemaLocation="GetNewMessages/doc-v16-0.xsd"/>
  <xs:element name="IE871" type="ie:IE871Type"/>
  <xs:complexType name="IE871Type">
    <xs:sequence>
      <xs:element name="Header" type="tms:HeaderType"/>
      <xs:element name="Body" type="ie:BodyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyType">
    <xs:sequence>
      <xs:element name="ExplanationOnReasonForShortage" type="ie:ExplanationOnReasonForShortageType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExplanationOnReasonForShortageType">
    <xs:sequence>
      <xs:element name="Attributes" type="ie:AttributesType"/>
      <xs:element minOccurs="0" name="ConsigneeTrader" type="ie:ConsigneeTraderType"/>
      <xs:element name="ExciseMovement" type="ie:ExciseMovementType"/>
      <xs:element minOccurs="0" name="ConsignorTrader" type="ie:ConsignorTraderType"/>
      <xs:element minOccurs="0" name="Analysis" type="ie:AnalysisType"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BodyAnalysis" type="ie:BodyAnalysisType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributesType">
    <xs:sequence>
      <xs:element name="SubmitterType" type="tcl:SubmitterType"/>
      <xs:element minOccurs="0" name="DateAndTimeOfValidationOfExplanationOnShortage" type="emcs:DateTimeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsigneeTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Traderid" type="emcs:TraderidType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
      <xs:element minOccurs="0" name="EoriNumber" type="emcs:EoriNumberType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="ExciseMovementType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="EXCISE MOVEMENT"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AdministrativeReferenceCode" type="emcs:AdministrativeReferenceCodeType"/>
      <xs:element name="SequenceNumber" type="emcs:SequenceNumberType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsignorTraderType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNOR) TRADER"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TraderExciseNumber" type="emcs:ExciseNumberType"/>
      <xs:element name="TraderName" type="emcs:TraderNameType"/>
      <xs:element name="StreetName" type="emcs:StreetNameType"/>
      <xs:element minOccurs="0" name="StreetNumber" type="emcs:StreetNumberType"/>
      <xs:element name="Postcode" type="emcs:PostcodeType"/>
      <xs:element name="City" type="emcs:CityType"/>
    </xs:sequence>
    <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
  </xs:complexType>
  <xs:complexType name="AnalysisType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="ANALYSIS"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DateOfAnalysis" type="emcs:DateType"/>
      <xs:element name="GlobalExplanation" type="ie:LSDGlobalExplanationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BodyAnalysisType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(BODY) ANALYSIS"/>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExciseProductCode" type="emcs:ExciseProductCodeType"/>
      <xs:element name="BodyRecordUniqueReference" type="emcs:BodyRecordUniqueReferenceType"/>
      <xs:element name="Explanation" type="ie:LSDExplanationType"/>
      <xs:element minOccurs="0" name="ActualQuantity" type="emcs:ActualQuantityType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LSDExplanationType">
    <xs:simpleContent>
      <xs:extension base="emcs:ExplanationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="LSDGlobalExplanationType">
    <xs:simpleContent>
      <xs:extension base="emcs:GlobalExplanationType">
        <xs:attribute use="required" name="language" type="emcs:LanguageCodeType"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
