resources/emcsCoreXmlSchemas/PreValidateTrader-v16-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 586746
Wed Oct 26 10:48:01 BST 2022

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pvt="http://www.govtalk.gov.uk/taxation/PreValidateTrader/1" targetNamespace="http://www.govtalk.gov.uk/taxation/PreValidateTrader/1" xmlns:doc="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" xmlns:emcs="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" version="16.0" id="PreValidateTrader" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:DOC:V3.01" schemaLocation="PreValidateTrader/doc-v16-0.xsd"/>
  <xsd:import namespace="urn:publicid:-:EC:DGTAXUD:EMCS:PHASE4:EMCS:V3.01" schemaLocation="PreValidateTrader/types-v16-0.xsd"/>
  <xsd:element name="PreValidateTrader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="TraderId">
          <xsd:simpleType>
            <xsd:restriction base="pvt:PreValidateTrader_TraderidType">
              <xsd:pattern value="[A-Za-z]{2}[A-Za-z0-9]{11}"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="TraderType">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="UK Record">
                <xsd:annotation>
                  <xsd:documentation>UK Record</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="EU Trader">
                <xsd:annotation>
                  <xsd:documentation>EU Trader</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="EU Warehouse">
                <xsd:annotation>
                  <xsd:documentation>EU Warehouse</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="EU Temp Authorisation">
                <xsd:annotation>
                  <xsd:documentation>EU Temp Authorisation</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="10" name="ExciseProductCode" type="emcs:ExciseProductCodeType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="PreValidateTrader_TraderidType">
    <xsd:annotation>
      <xsd:documentation>
        <doc:description value="TraderID"/>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="16"/>
      <xsd:pattern value=".{1,16}"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
