resources/emcsCoreXmlSchemas/SuccessResponse-v1-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by DecisionSoft X-Meta: generator revision 110153
Fri Jun 05 01:27:03 BST 2009
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sresp="http://www.inlandrevenue.gov.uk/SuccessResponse" targetNamespace="http://www.inlandrevenue.gov.uk/SuccessResponse" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" version="1.1" id="SuccessResponse" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms="http://www.govtalk.gov.uk/CM/gms-xs">
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2003-10-13</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2009-06-05</gms:Modified>
        </gms:Date>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:Requires>xmldsig-core-schema.xsd</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:Requires/>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>SuccessResponse</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>MessageType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2003</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>Success Response message</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="SuccessResponse">
    <xsd:annotation>
      <xsd:documentation>  IR generic response to a successful live or 'test in live' submission - the value of the 'TestInLive' attribute indicates which. See Gateway ErrorResponse Schema for generic response to failed submissions. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="IRmarkReceipt">
          <xsd:annotation>
            <xsd:documentation>  Signature block contains signature (using IR's private key) over the original submission - therefore DigestValue is the actual IRmark, which may be repeated in the prose of the compulsory receipt message. DigestValue representation is base-64, but for presentation purposes this may be converted to a base-32 string. The receipt should be saved for future reference along with the matching original submission after first checking that the returned IRmark matches the submitted IRmark.  This receipt is optional until such time as all IR services support IRmark.  For any particular service therefore, the presence of the IRmark receipt may be mandatory (See Service-specific documentation for details). </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" ref="dsig:Signature"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="Message" type="sresp:MessageType">
                <xsd:annotation>
                  <xsd:documentation>  Statutory receipt message containing IRmark (available separately in DigestValue), service info (inferred from envelope MessageClass) and taxpayer designatory info. The message should be made available to the user. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="Message" type="sresp:MessageType">
          <xsd:annotation>
            <xsd:documentation>  Service-specific advisory text messages (if any). It is possible for more than one message to be returned per response. Each message must be presented to the user. Service-specific message codes are carried in the 'code' attribute (see Service-specific documentation for details). </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="AcceptedTime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:documentation>Placeholder for future use.  </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="ResponseData">
          <xsd:annotation>
            <xsd:documentation> Container for service-specific response data if any (e.g. MSD returned payment reference). See additional service-specific response data Schema (if any) and documentation for details. </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any namespace="##other" processContents="lax"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute use="optional" name="TestInLive" type="xsd:boolean"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MessageType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute use="required" name="code" type="xsd:integer"/>
        <xsd:attribute use="optional" default="en-GB" ref="xml:lang"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
